<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ active: dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li
      class="nav-item"
      [ngClass]="{
        active:
        usermanager.isActive ||
        tracker.isActive ||
        metrics.isActive ||
        health.isActive ||
        configuration.isActive ||
        audits.isActive ||
        logs.isActive
      }"
    >
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title" jhiTranslate="global.menu.admin.main">Administration</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/user-management" routerLinkActive="active" #usermanager="routerLinkActive">
              <span jhiTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/tracker" routerLinkActive="active" #tracker="routerLinkActive">
                <span jhiTranslate="global.menu.admin.tracker">User tracker</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/metrics" routerLinkActive="active" #metrics="routerLinkActive">
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/health" routerLinkActive="active" #health="routerLinkActive">
                <span jhiTranslate="global.menu.admin.health">Health</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/configuration" routerLinkActive="active" #configuration="routerLinkActive">
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/audits" routerLinkActive="active" #audits="routerLinkActive">
                <span jhiTranslate="global.menu.admin.audits">Audits</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/logs" routerLinkActive="active" #logs="routerLinkActive">
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
